@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin 'flowbite-react/plugin/tailwindcss';

@source '../../.flowbite-react/class-list.json';

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1440px;
}

:root {
  --contek-max-width: 1440px;
  --contek-max-width-laptop: 1200px;

  --contek-padding-x-desktop: 64px;
  --contek-padding-x-laptop: 40px;
  --contek-padding-x-tablet: 64px;
  --contek-padding-x-mobile: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root { 

  }
} */

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}
